.homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background: url(./bg.png);
  background-repeat: no-repeat;
  background-size: contain; */
  background-color: #d3d3d3;
}

.title h1 {
  text-align: center;
  color: #000;
}

.subheading {
  margin-left: 2rem;
}

.formBox {
  display: flex;
}

.form {
  width: 100%;
  background-color: darkgray;
  margin: 0 2rem;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #aaa;
}

.email-form {
  display: flex;
  flex-direction: column;
}

.email-form-object {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1;
}

.email-form-object label {
  margin-bottom: 5px;
}
.email-form-object input {
  margin-bottom: 15px;
  flex: 1;
  display: flex;
  width: 98%;
  padding: 10px 5px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.formButtons {
  display: flex;
  align-items: center;
}

.formButtons button {
  width: 100%;
  padding: 15px 0;
  margin: 2px;
  border-radius: 10px;
  border:none;
  outline: none;
  cursor: pointer;
}

.formButtons button:hover {
  box-shadow: 10px 5px 5px #aaa;
}

.clearButton {
  background-color: gray;
}

.submitButton {
  background-color: orange;
}

.output-form {
  height: auto;
  overflow-y: scroll;
  text-align: justify;
  overflow-x: hidden;
}

.successMessage {
  text-align: center;
  color: green;
}

.outputHeader {
  /* border: solid 1px black; */
  width: 100%;
  padding: 5px;
  text-align: center;
  background-color: white;
}